<div class="list-wrap">
  <app-page-header></app-page-header>

  <div class="content-wrapper">
    <div class="list-container" dLoading [loading]="loading" [backdrop]="true">
      <div class="list-content">
        <d-data-table [dataSource]="records" [scrollable]="true" [tableWidthConfig]="tableWidthConfig">
          <thead dTableHead>
            <tr dTableRow>
              <th dHeadCell>#</th>
              <th dHeadCell *ngFor="let column of tableColumns"> {{ column.header }} </th>
              <th dHeadCell>操作</th>
            </tr>
          </thead>
          <tbody dTableBody>
            <ng-template let-rowItem="rowItem" let-rowIndex="rowIndex">
              <tr dTableRow *ngIf="rowIndex === 0">
                <td dTableCell [attr.colspan]="tableColumns.length + 2" *ngIf="objectHasKey(createDefaultData)">
                  <div *ngIf="!showCreateForm" (click)="openCreateForm()" class="cursor-pointer" tabindex="0" (keyup.enter)="openCreateForm()">
                    <span class="tips-icon icon-add"></span>
                    <span style="margin-left: 10px">新建用户</span>
                  </div>
                  <div *ngIf="showCreateForm" class="edit-padding-fix">
                    <app-page-form
                      [formConfig]="createFormConfig"
                      [formData]="createDefaultData"
                      [formValue]="createFormData"
                      [loading]="formLoading"
                      class="editable-row"
                      (submitted)="createRecord($event)"
                      (canceled)="closeCreateForm()"
                    ></app-page-form>
                  </div>
                </td>
              </tr>
              <tr dTableRow>
                <td dTableCell>{{ rowIndex + 1 }}</td>
                <td dTableCell *ngFor="let column of tableColumns">
                  <span *ngIf="column.fieldType === 'text'">{{ showContentTranslate(column.field, rowItem[column.field]) }}</span>
                  <d-tag
                    *ngIf="column.fieldType === 'tag'"
                    [tag]="showContentTranslate(column.field, rowItem[column.field])"
                    [labelStyle]="column.field + '-' + rowItem[column.field]"
                  ></d-tag>
                  <span *ngIf="column.fieldType === 'date'">{{ rowItem[column.field] | date : 'yyyy-MM-dd' }}</span>
                </td>
                <td>
                  <d-button icon="icon-property" bsStyle="text-dark" title="property" (click)="openDetailCard(rowItem)" *ngIf="objectHasKey(detailConfig)"></d-button>
                  <d-button
                    icon="icon-edit"
                    bsStyle="text-dark"
                    title="edit"
                    (click)="openUpdateForm(rowItem)"
                    *ngIf="updateFunc.observed && objectHasKey(updateFormConfig)"
                  ></d-button>
                  <d-button icon="icon-delete" bsStyle="text-dark" title="delete" (click)="openDeleteForm(rowItem)" *ngIf="deleteFunc.observed"></d-button>
                </td>
              </tr>
            </ng-template>
          </tbody>
        </d-data-table>
      </div>
      <div class="list-footer">
        <d-pagination
          [size]="'sm'"
          [total]="page.total"
          [(pageSize)]="page.limit"
          [(pageIndex)]="page.index"
          [canViewTotal]="true"
          [canChangePageSize]="true"
          [canJumpPage]="true"
          [maxItems]="5"
          (pageIndexChange)="onPageChange($event)"
          (pageSizeChange)="onSizeChange($event)"
        >
        </d-pagination>
      </div>
    </div>
  </div>
</div>

<ng-template #editorTemplate>
  <app-page-form [formConfig]="updateFormConfig" [formData]="updateDefaultData" [loading]="formLoading" (submitted)="editRecord($event)" (canceled)="closeUpdateForm()">
  </app-page-form>
</ng-template>

<ng-template #detailTemplate>
  <div class="detail-content">
    <d-row *ngFor="let item of detailConfig">
      <d-col [dSpan]="10">
        <span>{{ item.label }}</span>
      </d-col>
      <d-col [dSpan]="14" [ngSwitch]="item.type">
        <span *ngSwitchCase="'date'">{{ selectRecord[item.prop] | date : item.dataFmt || 'yyyy-MM-dd' }}</span>
        <span *ngSwitchCase="'text'">{{ showContentTranslate(item.prop, selectRecord[item.prop]) }}</span>
      </d-col>
    </d-row>
  </div>
</ng-template>
