<div class="list-wrap">
  <app-page-header></app-page-header>

  <div class="content-wrapper">
    <div class="list-container" dLoading [loading]="loading" [backdrop]="true">
      <div class="list-header">
        <div class="list-header-operation">
          <div class="left">
            <d-button
              *ngIf="batchDeleteFunc.observed && operationsEnabled.batchDelete?.enabled && multiChecked"
              icon="icon-delete"
              title="批量删除"
              [disabled]="!checkedRecordList.length"
              (click)="openDeleteForm(null)"
            >
              批量删除
            </d-button>
            <ng-template [ngTemplateOutlet]="operationHeaderLeftTpl" [ngTemplateOutletContext]="{ $implicit: checkedRecordList }"></ng-template>
          </div>
          <div class="right">
            <d-button
              icon="icon-add"
              title="新建"
              (click)="openCreateCard()"
              *ngIf="createType === 'modal' && createFunc.observed && objectHasKey(createDefaultData) && operationsEnabled.create?.enabled && operationsEnabled.create?.tileMode"
            >
              新建{{ showName }}
            </d-button>
            <ng-template [ngTemplateOutlet]="operationHeaderRightTpl" [ngTemplateOutletContext]="{ $implicit: checkedRecordList }"></ng-template>
          </div>
        </div>
      </div>
      <div class="list-content">
        <d-data-table [dataSource]="records" [scrollable]="true" [tableWidthConfig]="tableWidthConfig">
          <thead dTableHead>
            <tr dTableRow>
              <th dHeadCell *ngIf="multiChecked">
                <d-checkbox [(ngModel)]="recordAllChecked" (ngModelChange)="checkAllRecordsStatusChange()" [halfchecked]="recordHalfChecked"></d-checkbox>
              </th>
              <th dHeadCell>#</th>
              <th dHeadCell *ngFor="let column of tableColumns"> {{ column.header }} </th>
              <th dHeadCell *ngIf="hasOperationsEnabled()">操作</th>
            </tr>
          </thead>
          <tbody dTableBody>
            <ng-template let-rowItem="rowItem" let-rowIndex="rowIndex">
              <!-- inline 模式时新建表格的行 -->
              <tr dTableRow *ngIf="createType === 'inline' && rowIndex === 0">
                <td
                  dTableCell
                  [attr.colspan]="hasOperationsEnabled() ? tableColumns.length + 2 : tableColumns.length + 1"
                  *ngIf="createFunc.observed && objectHasKey(createDefaultData) && operationsEnabled.create?.enabled && operationsEnabled.create?.tileMode"
                >
                  <div *ngIf="!showCreateForm" (click)="openCreateForm()" class="cursor-pointer" tabindex="0" (keyup.enter)="openCreateForm()">
                    <span class="tips-icon icon-add"></span>
                    <span style="margin-left: 10px">新建{{ showName }}</span>
                  </div>
                  <div *ngIf="showCreateForm" class="edit-padding-fix">
                    <app-page-form
                      [formConfig]="createFormConfig"
                      [formData]="createDefaultData"
                      [formValue]="createFormData"
                      [loading]="formLoading"
                      class="editable-row"
                      (submitted)="createRecord($event)"
                      (canceled)="closeCreateForm()"
                    ></app-page-form>
                  </div>
                </td>
              </tr>
              <!-- 具体内容展示表格的行 -->
              <tr dTableRow *ngIf="rowItem.id > 0">
                <td dTableCell *ngIf="multiChecked">
                  <d-checkbox [(ngModel)]="rowItem.$checked" (ngModelChange)="checkStatusChange()"></d-checkbox>
                </td>
                <!-- 当前表格序号的列 -->
                <td dTableCell>{{ rowIndex + 1 }}</td>
                <!-- 显示定义tableColumns中对应字段的内容的列 -->
                <td dTableCell *ngFor="let column of tableColumns">
                  <span *ngIf="column.fieldType === 'text'">{{ showContentTranslate(column.field, rowItem[column.field]) }}</span>
                  <d-tag
                    *ngIf="column.fieldType === 'tag'"
                    [tag]="showContentTranslate(column.field, rowItem[column.field])"
                    [labelStyle]="column.field + '-' + rowItem[column.field]"
                  ></d-tag>
                  <span *ngIf="column.fieldType === 'date'">{{ rowItem[column.field] | date : 'yyyy-MM-dd' }}</span>
                </td>
                <!-- 操作按钮的列 -->
                <td *ngIf="hasOperationsEnabled()">
                  <d-button
                    icon="icon-property"
                    bsStyle="text"
                    title="详情"
                    (click)="openDetailCard(rowItem)"
                    *ngIf="objectHasKey(detailConfig) && operationsEnabled.detail?.enabled && operationsEnabled.detail?.tileMode"
                  ></d-button>
                  <d-button
                    icon="icon-edit"
                    bsStyle="text"
                    title="编辑"
                    (click)="openUpdateForm(rowItem)"
                    *ngIf="updateFunc.observed && objectHasKey(updateFormConfig) && operationsEnabled.update?.enabled && operationsEnabled.update?.tileMode"
                  ></d-button>
                  <d-button
                    icon="icon-delete"
                    bsStyle="text"
                    title="删除"
                    (click)="openDeleteForm(rowItem)"
                    *ngIf="deleteFunc.observed && operationsEnabled.delete?.enabled && operationsEnabled.delete?.tileMode"
                  ></d-button>
                  <ng-template [ngTemplateOutlet]="operationTpl" [ngTemplateOutletContext]="{ $implicit: rowItem }"></ng-template>
                  <div *ngIf="operationsMoreVisible" dDropDown appendToBody [style]="{ display: 'inline-block' }">
                    <d-button icon="icon-more-operate" bsStyle="text" title="更多操作" dDropDownToggle></d-button>
                    <ul dDropDownMenu role="menu">
                      <li role="menuitem">
                        <a
                          *ngIf="objectHasKey(detailConfig) && operationsEnabled.detail?.enabled && operationsEnabled.detail?.dropdownMode"
                          tabindex="0"
                          (keyup.enter)="openDetailCard(rowItem)"
                          (click)="openDetailCard(rowItem)"
                          dDropDownMenuItem
                        >
                          <span class="icon-property"></span> 详情
                        </a>
                      </li>
                      <li role="menuitem">
                        <a
                          *ngIf="updateFunc.observed && objectHasKey(updateFormConfig) && operationsEnabled.update?.enabled && operationsEnabled.update?.dropdownMode"
                          tabindex="0"
                          (keyup.enter)="openUpdateForm(rowItem)"
                          (click)="openUpdateForm(rowItem)"
                          dDropDownMenuItem
                        >
                          <span class="icon-edit"></span> 编辑
                        </a>
                      </li>
                      <li role="menuitem">
                        <a
                          *ngIf="deleteFunc.observed && operationsEnabled.delete?.enabled && operationsEnabled.delete?.dropdownMode"
                          tabindex="0"
                          (keyup.enter)="openDeleteForm(rowItem)"
                          (click)="openDeleteForm(rowItem)"
                          dDropDownMenuItem
                        >
                          <span class="icon-delete"></span> 删除
                        </a>
                      </li>
                      <ng-template [ngTemplateOutlet]="operationMoreTpl" [ngTemplateOutletContext]="{ $implicit: rowItem }"></ng-template>
                    </ul>
                  </div>
                </td>
              </tr>
            </ng-template>
          </tbody>
        </d-data-table>
      </div>
      <div class="list-footer">
        <d-pagination
          [size]="'sm'"
          [total]="page.total"
          [(pageSize)]="page.limit"
          [(pageIndex)]="page.index"
          [canViewTotal]="true"
          [canChangePageSize]="true"
          [canJumpPage]="true"
          [maxItems]="5"
          (pageIndexChange)="onPageChange($event)"
          (pageSizeChange)="onSizeChange($event)"
        >
        </d-pagination>
      </div>
    </div>
  </div>
</div>

<ng-template #createTemplate>
  <div class="edit-padding-fix">
    <app-page-form
      [formConfig]="createFormConfig"
      [formData]="createDefaultData"
      [formValue]="createFormData"
      [loading]="formLoading"
      class="editable-row"
      (submitted)="createRecord($event)"
      (canceled)="closeCreateForm()"
    ></app-page-form>
  </div>
</ng-template>

<ng-template #editorTemplate>
  <app-page-form [formConfig]="updateFormConfig" [formData]="updateDefaultData" [loading]="formLoading" (submitted)="editRecord($event)" (canceled)="closeUpdateForm()">
  </app-page-form>
</ng-template>

<ng-template #detailTemplate>
  <div class="detail-content" *ngIf="selectRecord">
    <d-row *ngFor="let item of detailConfig">
      <d-col [dSpan]="10">
        <div>{{ item.label }}</div>
      </d-col>
      <d-col [dSpan]="14" [ngSwitch]="item.type">
        <div *ngSwitchCase="'datePicker'">{{ selectRecord[item.prop] | date : item.dataFmt || 'yyyy-MM-dd' }}</div>
        <!-- <div *ngSwitchCase="'text'">{{ showContentTranslate(item.prop, selectRecord[item.prop]) }}</div>-->
        <div *ngSwitchDefault>{{ showContentTranslate(item.prop, selectRecord[item.prop]) }}</div>
      </d-col>
    </d-row>
  </div>
  <div dLoading [loading]="formLoading" [backdrop]="true" *ngIf="!selectRecord"></div>
</ng-template>
