<div class="footer">
  <div class="footer-intro">
    <span class="production-name">
      <a [href]="siteInfo.linkUrl" target="_blank">{{ siteInfo.title }}</a>
    </span>
    <a [href]="siteInfo.linkUrl" rel="noopener noreferrer" target="_blank">
      <img src="assets/images/logo.svg" alt="logo" width="20px" height="20px" />
    </a>
    <span class="organization">
      <a [href]="siteInfo.linkUrl" rel="noopener noreferrer" target="_blank">
        {{ siteInfo.company }}
      </a>
    </span>
  </div>
  <div class="presented">{{ siteInfo.presentation }}</div>
</div>
