<app-page-content
  [name]="'pods'"
  [tableWidthConfig]="kubePodsTableWidthConfig"
  [tableColumns]="columns"
  [showTitleDict]="showTitleDict"
  [createFormConfig]="createFormConfig"
  [createDefaultData]="createDefaultData"
  [updateFormConfig]="updateFormConfig"
  [detailConfig]="detailConfig"
  [multiChecked]="true"
  [operationsEnabled]="operationsEnabled"
  [headerTpl]="header"
  [frontPagination]="true"
  (loadFunc)="loadData($event)"
></app-page-content>

<ng-template #header>
  <app-kube-header></app-kube-header>
</ng-template>
